/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require 'masonry/transitions'
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


$body-bg: #bdc3c7;
$navbar-default-bg: #1abc9c;
$navbar-default-link-color: black;
$font-family-sans-serif: 'Indie Flower', cursive;

body {
	padding-top: 80px;
}

.center {
	text-align: center;
}

.navbar-brand {
	font-weight: bold;
}

#navbar {
	background: 
  	linear-gradient(
    rgba(255, 255, 255, .8), 
    rgba(255, 255, 255, .8)),
    url("question-marks.jpg");
    background-size: cover;
}

.jumbo-style {
	background: 
  	linear-gradient(
    rgba(255, 255, 255, .8), 
    rgba(255, 255, 255, .8)),
    url("question-marks.jpg");
    background-size: cover;
}

@import "bootstrap-sprockets";
@import "bootstrap";